.About{
    text-align: center;
}
.about-wrapper{
    display:flex;
    justify-content: space-between;
    /* border:1px solid red; */
    padding:1rem;
}
.about{
    margin:1rem;
    /* widows: 50%; */
    /* border:1px solid red; */
    font-size:23px;
    text-align: justify;
}
/* .aboutMe{
    border:1px dotted green;
} */
@media(max-width:600px){
    .about-wrapper{
        flex-direction: column;
    }
}