.About{
    text-align: center;
}
.about-wrapper{
    display:flex;
    justify-content: center;
}
.about{
    margin:2rem 3rem;
}
.aboutMe{
    font-size:20px;
}
@media(max-width:600px){
    .about-wrapper{
        flex-direction: column;
    }
}