.Contact{
    text-align: center;
    padding:1rem;
    letter-spacing: .1rem;
}
.contact-wrapper{
    display:flex;
    flex-direction: column;
    /* height:30vh; */
    min-height:auto;
    padding: 0px 1rem;

}
.input{
    height:10%;
    border:1px solid #1A252F;
    margin:.1em 0px;
    padding:1rem;
}
.text{
    height:15rem;
    min-height: 15rem;
}
.sendButton{
    background-color:#18BC9C;
    color:white;
    font-family:'Oswald';
    letter-spacing: .1rem;
    margin:2rem;
    border:none;
    height:3rem;
    width:5rem;
}

@media(min-width:500px){
    .input{
        padding:1rem;
        /* border:10px solid red; */
    }
}
@media(min-width:660px){
    .input{padding:1.5rem;}
    .contact-wrapper{
        padding:2rem
    }
}