.Skills{
    text-align: center;
    padding:1rem;
    width:100%;
    overflow: hidden;
    color:black;
}

.skill-title{
    color:black
}

.skills-wrapper{
    padding:1rem 1rem;
    transition: 1s
}

.second-skills-wrapper{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-row-gap: 2rem;    
    transition: 1s;
}



.second-skills-wrapper:hover>div{
    opacity:0.4;
    transition:.7s;
}

.second-skills-wrapper:hover >div:hover{
    opacity:1;
    transition:.7s;
    box-shadow:0px 1px 10px 0px;
}









@media(min-width:320px){
    .Skill{
        width:70%;
        height:auto;
    }
}
@media (min-width:500px){
    .second-skills-wrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr
    }
    .skill-set{
        width:auto;
        height:100%;
    }
    .Skill{
        width:70%;
    }
}
@media(min-width:900px){
    .second-skills-wrapper{
        grid-template-columns: repeat(5,1fr);
        padding:0rem 3rem;
    }
}
@media(min-width:1000px){
    .second-skills-wrapper{
        margin:0px 10%;
    }
}